
/* ---------------BASICS----------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}





/* -----------SHARED------------------*/
* {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
#logo h1,
#main h2,
#about-us h3,
#welcome h2,
.our-work-container th,
.contact-info span,
.company-info span {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-style: normal;
}

:root {
    --light-pink: #f3c5cf7e;
    --light-grey: #d6d4d075;
    --light-green: #a5dbd273;
    --green: #A1D9D1;
    --black: black;
    --white: white;
}





/* ---------------HEADER---------------- */
.header {
    background-color: var(--green);
    padding: 15px 0;
    /* border-bottom: 1px solid var(--black); */

    position: relative;

    z-index: 999;
}

            @media (min-width: 900px) {
                .header {
                    position: sticky;
                    left: 0;
                    top: 0;
                }
            }

.header-container {
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}





/* --------logo--------- */
#logo {
    flex-grow: 1;

    font-size: 0.85rem;
    line-height: 2.4rem;
}

            @media (min-width: 500px) {
                #logo {
                    font-size: 1rem;
                }
            }

            @media (min-width: 900px) {
                #logo {
                    font-size: 1.5rem;
                    text-align: center;
                    width: 40%;
                }
            }

            @media (min-width: 1150px) {
                #logo {
                    font-size: 2rem;
                    width: 40%;
                    line-height: 3rem;
                }
            }

#logo a {
    color: var(--black);
    text-decoration: none;
}





/* --------navigation--------- */
.nav {
    width: 100%;

    position: absolute;
    top: 65px;
    right: 0px;

    background-color: var(--green);

    display: none;
}

            @media (min-width: 400px) {
                .nav {
                    width: 50%;
                }
            }

            @media (min-width: 650px) {
                .nav {
                    width: 30%;
                }
            }

            @media (min-width: 900px) {
                .nav {
                    display: block !important;

                    position: relative;
                    top: 0;
                    right: 0;
                    width: 100%;
                }
            }

            @media (min-width: 900px) {
                .nav ul {
                    text-align: end;
                }
            }

.nav li {
    list-style: none;
    text-align: center;
    font-size: 20px;

    display: block;

    margin: 30px 0;
}

            @media (min-width: 900px) {
                .nav li {
                    display: inline-block;
                    
                    font-size: 1.2rem;
                    
                    margin-right: 20px;
                }
            }

            @media (min-width: 1200px) {
                .nav li {
                    font-size: 1.5rem;
                }
            }

.nav li a {
    color: var(--black);
    text-decoration: none;
}

.nav li:hover {
    transform: scale(1.1);
    transition: 0.7s;
}

.nav li a:hover {
    color: var(--white);
}





/* --------menu-icon--------- */
.menu-icon {
    display: none;
}

            @media (max-width: 900px) {
                .menu-icon {
                    display: block;


                    color: var(--black);
                    font-size: 23px;
                }
            }





/* ---------------MAIN---------------- */
#main h2 {
    text-align: center;
    margin-bottom: 3%;
    font-size: 3rem;
}

            @media (max-width: 900px) {
                #main h2 {
                    font-size: 2rem;
                    padding: 50px 4% 0 4%;
                }
            }

#main h3,
#main th {
    font-size: 2rem;
}

            @media (max-width: 1200px) {
                #main th {
                    font-size: 1.5rem;
                }
            }

            @media (max-width: 900px) {
                #main h3 {
                    font-size: 1.5rem;
                    padding: 0 4%;
                }
            }

#main p,
#main ul,
#main td {
    font-size: 1.5rem;
}





/* --------welcome--------- */
#welcome {
    height: calc(90vh - 70px);

    background-image: url(/assets/images/welcome-photo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(0, 0, 0, 0.499);
    background-blend-mode: multiply;

    margin-bottom: 3%;

    position: relative;
}

#welcome h2 {
    padding: 30vh 2% 0 2%;
    margin-bottom: 0rem;
    font-size: 4rem;
    color: var(--white);
}

            @media (max-width: 1400px) {
                #welcome h2 {
                    font-size: 3.5rem;
                }
            }

            @media (max-width: 1200px) {
                #welcome h2 {
                    font-size: 3rem;
                }
            }

            @media (max-width: 1000px) {
                #welcome h2 {
                    font-size: 2.5rem;
                }
            }

            @media (max-width: 900px) {
                #welcome h2 {
                    font-size: 3rem;
                    padding: 25vh 5vw 0 5vw;
                }
            }

            @media (max-width: 540px) {
                #welcome h2 {
                    font-size: 2rem;
                }
            }

            @media (max-width: 430px) {
                #welcome h2 {
                    font-size: 1.8rem;
                }
            }

.welcome-h2-small {
    display: none;
}

            @media (max-width: 530px) {
                .welcome-h2-small {
                    display: block;
                }

                .welcome-h2-big {
                    display: none;
                }

            }




#welcome h3 {
    color: var(--green);
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
}

            @media (max-width: 1000px) {
                #welcome h3 {
                    font-size: 1.5rem;
                }
            }

            @media (max-width: 850px) {
                #welcome h3 {
                    width: 55%;
                    text-align: center;
                }
            }

            @media (max-width: 850px) {
                #welcome .subtitle {
                    display: none;
                }
            }

            @media (max-width: 700px) {
                #welcome h3 {
                    width: 70%;
                }
            }

            @media (max-width: 530px) {
                #welcome h3 {
                    display: none;
                }
            }
            
            
            




/* --------advantages--------- */
#advantages {
    width: 80vw;
    margin: 10% auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

            @media(min-width: 700px) {
                #advantages {
                    flex-direction: row;

                    width: 90vw;
                }
            }

            @media(min-width: 1200px) {
                #advantages {
                    margin: 5% auto;
                }
            }

#advantages h3 {
    font-weight: 700;
}

            @media(min-width: 900px) {
                #advantages h3 {
                    font-size: 1.5rem;
                }
            }

.adv {
    border-radius: 20px;

    text-align: center;

    padding: 3%;
}

            @media(min-width: 700px) {
                .adv {
                    flex-basis: calc(100% / 3 - 3%);

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

.adv2,
.adv3 {
    margin-top: 5%;
}

            @media(min-width: 700px) {
                .adv2,
                .adv3 {
                    margin-top: 0;
                }
            }


#advantages ul {
    font-size: 1.2rem;
}

            @media(min-width: 900px) {
                #advantages ul {
                    font-size: 1.3rem;
                }
            }

.adv2 li {
    list-style: none;
}

.adv1 {
    background-color: var(--light-grey);
}

.adv2 {
    background-color: var(--light-green);
}

.adv3 {
    background-color: var(--light-pink);
}







/* --------about-us--------- */
#about-us {
    color: var(--black);

    width: 90vw;
    margin: 10% auto;
}

            @media (min-width: 500px) {
                #about-us {
                    width: 90vw;
                    margin: 7% auto;
                    padding: 0 2% 2% 2%;
                }
            }

            @media(min-width: 900px) {
                #about-us {
                    margin: 5% auto;
                }
            }

#about-us h2 {
    text-align: left;
    border-bottom: 1px solid var(--black);
    padding-left: 10%;
}

            @media (min-width: 500px) {
                #about-us h2 {
                    text-align: left;
                    padding-left: 5%;
                }
            }

            @media(min-width: 700px) {
                #about-us h2 {
                    font-size: 2.5rem;
                }
            }

            @media(min-width: 900px) {
                #about-us h2 {
                    font-size: 3rem;
                }
            }

#about-us p {
    width: 85vw;
    margin: 0 auto;
    font-size: 1.2rem;
}

            @media(min-width: 900px) {
                #about-us p {
                    font-size: 1.4rem;
                }
            }

            @media(min-width: 1050px) {
                #about-us .about-us-container {
                    display: flex;
                    justify-content: space-around;
                }
            }

#about-us .dad,
#about-us .son {
    padding: 2% 10%;
    margin-top: 10%;
}

            @media (min-width: 600px) {
                #about-us .dad,
                #about-us .son {
                    display: flex;
                    justify-content: center;
                    padding: 0;
                }
            }

            
            @media (min-width: 1050px) {
                #about-us .dad,
                #about-us .son {
                    display: flex;
                    flex-direction: column;
                    margin-top: 5%;
                    justify-content: flex-start;
                    width: 50%;
                }
            }

#about-us .dad h3,
#about-us .son h3 {
    margin-bottom: 2%;
    text-align: center;

    font-size: 2rem;
}

            @media (max-width: 510px) {
                #about-us .dad h3,
                #about-us .son h3 {
                    margin-bottom: 7%;
                }
            }

            @media (min-width: 700px) {
                #about-us .dad h3,
                #about-us .son h3 {
                    font-size: 2.5rem;
                }
            }

#about-us .about-us-info {
    text-align: center;

    width: 100%;
    margin: 0 auto;
}

            /* @media(min-width: 800px) {
                #about-us .about-us-info {
                    width: 70%;
                }
            }

            @media(min-width: 1050px) {
                #about-us .about-us-info {
                    width: 100%;
                }
            } */

            
#about-us ul {
    font-size: 1.2rem;
}
            
            @media(min-width: 900px) {
                #about-us ul {
                    font-size: 1.4rem;
                }
            }
            
#about-us li {
    list-style: none;
}




/* --------process--------- */
#process {
    color: var(--black);
  
    text-align: center;
    margin: 10% auto;
}

            @media (min-width: 500px) {
                #process {
                    width: 90vw;
                    padding: 0 2% 2% 2%;
                }
            }

            @media(min-width: 1200px) {
                #process {
                    margin: 5% auto;
                }
            }

#process h2 {
    text-align: left;
    padding: 0 0 5% 10%;
    margin: 20% 0 0 0;
}

            @media (min-width: 500px) {
                #process h2 {
                    text-align: left;
                    padding-left: 5%;
                }
            }

            @media(min-width: 700px) {
                #process h2 {
                    font-size: 2.5rem;
                }
            }

            @media(min-width: 900px) {
                #process h2 {
                    font-size: 3rem;
                    margin-top: 5%;
                    padding-bottom: 0;
                }
            }

#process h3 {
    font-weight: 700;
}

.process-container a {
    color: var(--black);
}

#process p {
    font-size: 1.2rem;
    text-align: left;

    margin: 0 auto;
    width: 90%;
}

            @media (min-width: 500px) {
                #process p {
                    width: 100%;
                    margin: 0;
                }
            }

.proc {
    padding: 5%;
}

.process1,
.process5 {
    background-color: var(--light-grey);
}

.process2,
.process4 {
    background-color: var(--light-green);
}

.process3 {
    background-color: var(--light-pink);
}






/* --------gallery--------- */
#gallery {
    width: 90vw;
    margin: 7% auto 0 auto;

    color: var(--black);

    position: relative;
}

#gallery h2 {
    text-align: left;
    border-bottom: 1px solid var(--black);
    padding-left: 5%;
}

#gallery h3 {
    margin: 3% 0 0.5% 3%;
}

            @media (max-width: 900px) {
                #gallery h3 {
                    margin-top: 10%;
                }
            }

            @media (max-width: 510px) {
                #gallery h3 {
                    font-size: 1rem;
                    margin-top: 10%;
                }
            }

#gallery a {
    width: 44vw;
    padding-bottom: 3%;

    display: inline-block;
}

            @media (max-width: 1000px) {
                #gallery a {
                    width: 90vw;
                }
            }

#gallery a:hover {
    transform: scale(1.02);
    transition: 0.7s;
}

#gallery a img {
    width: 100%;
    height: 100%;

    border-radius: 20px;

    object-fit: cover;
    object-position: center;
}





/* ----------references------------- */
#references {
    width: 80vw;
    margin: 10% auto;
}

            @media(min-width: 800px) {
                #references {
                    width: 95vw;
                }
            }

            @media(min-width: 1200px) {
                #references {
                    margin: 5% auto;
                }
            }

#references h2 {
    text-align: left;
    padding: 0 0 5% 10%;
    margin: 20% 0 0 0;
}

            @media (min-width: 500px) {
                #references h2 {
                    text-align: left;
                    padding-left: 5%;
                }
            }

            @media(min-width: 700px) {
                #references h2 {
                    font-size: 2.5rem;
                }
            }

            @media(min-width: 900px) {
                #references h2 {
                    font-size: 3rem;
                    margin-top: 5%;
                    padding-bottom: 0;
                }
            }

#references .ref-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

            @media(min-width: 800px) {
                #references .ref-container {
                    flex-basis: calc(100% / 3 - 3%);

                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                }
            }

#references .ref {
    background-color: var(--light-grey);
    border-radius: 20px;

    text-align: center;

    padding: 10%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

            
            @media(min-width: 500px) {
                #references .ref {
                    padding: 6%;
                }
            }

            @media(min-width: 800px) {
                #references .ref {
                    padding: 2%;
                    width: 32%;
                    /* height: 60vh; */
                }
            }

            /* @media(min-width: 1200px) {
                #references .ref {
                    height: 50vh;
                }
            } */

#references .ref-povazie,
#references .ref-valassko {
    margin-top: 5%;
}

            @media(min-width: 800px) {
                #references .ref-povazie,
                #references .ref-valassko {
                    margin-top: 0;
                }
            }

#references h3 {
    font-size: 1.2rem;
}
            @media(min-width: 500px) {
                #references h3 {
                    font-size: 1.4rem;
                }
            }

            @media(min-width: 800px) {
                #references h3 {
                    font-size: 1.6rem;
                }
            }

#references span {
    font-weight: 700;
    display: inline-block;
    padding-top: 10%;
}

#references p {
    font-size: 1.2rem;
}

#references .ref-slovacko {
        background-color: var(--light-grey);
} 

#references .ref-povazie {
    background-color: var(--light-green);
} 

#references .ref-valassko {
    background-color: var(--light-pink);
} 




/* --------contacts--------- */
#contacts {
    width: 80vw;
    margin: 10% auto;
    border-radius: 20px;
    border: 1px solid var(--black);

    text-align: center;
}

            @media (min-width: 500px) {
                #contacts {
                    width: 70vw;
                    padding: 2%;
                }
            }

.contacts-container {
    display: flex;
    gap: 2%;
    justify-content: space-around;
    width: 90%;
    margin: 5% auto 0 auto;
}

            @media (max-width: 1200px) {
                .contacts-container {
                    justify-content: space-between;
                }
            }

            @media (max-width: 1000px) {
                .contacts-container {
                    flex-direction: column;
                }
            }

.contacts-container p {
   margin-bottom: 10%;
}

            @media (max-width: 1200px) {
                #contacts p {
                    font-size: 1.2rem;
                }
            }

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

            @media (max-width: 900px) {
                .contact-info {
                    display: inline-block;
                }
            }

            @media (max-width: 1200px) {
                #contacts h2 {
                    font-size: 2.2rem;
                }
            }

            @media (max-width: 510px) {
                #contacts h2 {
                    margin-bottom: 15%;
                }
            }




/* ---------------FOOTER---------------- */
#footer {
    background-color: var(--green);
    padding: 20px 0;
    margin-top: 10%;
}

#footer div {
    width: 70vw;
    margin: 0 auto;
    text-align: center;
}

            @media (max-width: 900px) {
                #footer div {
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 25px;
                }    
            }

#footer p {
    color: var(--black);
    font-size: 1.2rem;
}